torch
torchvision
torchaudio
opencv-python
transformers
diffusers
accelerate
supervision
Pillow
matplotlib
scikit-image
pycocotools
timm
huggingface_hub
sahi
dds-cloudapi-sdk
setuptools
wheel
hydra-core
addict
yapf
iopath
requests
